<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/Filmy</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
 <!--  <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
-->    <property name="hibernate.default_schema">APP</property>
    <mapping resource="POJO/Gatunek.hbm.xml"/>
    <mapping resource="POJO/Transakcja.hbm.xml"/>
    <mapping resource="POJO/Adres.hbm.xml"/>
    <mapping resource="POJO/Rezyser.hbm.xml"/>
    <mapping resource="POJO/Oddzial.hbm.xml"/>
    <mapping resource="POJO/GatunekFilm.hbm.xml"/>
    <mapping resource="POJO/Film.hbm.xml"/>
    <mapping resource="POJO/Stanowisko.hbm.xml"/>
    <mapping resource="POJO/Pracownik.hbm.xml"/>
    <mapping resource="POJO/Nosnik.hbm.xml"/>
    <mapping resource="POJO/Klient.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
